body{
	font-family:"futura-pt", sans-serif;
}
nav{
  display:none;
}

.full-container{
  display:flex;
  flex-direction: row;
}
.content-area{
  width:95% !important;
}

input[type="text"]{
  font-family: "futura-pt-condensed",sans-serif;
  width:14em;
  font-size: 1.4em;
}
input[type=submit]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top:5px;
	background:#ffd800;
  text-decoration: none;
  border:none;
  color:#0e2846;
}

.all-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.spacer {
    display: block;
}

#progress-bar {
    width: 80%;
    background: #cccccc;
    position: relative;
}

#progress-bar-percentage {
    background: #f2c94c;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 40px;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}
.wide-grey.panel-row-style{border:none;}

/*Allow background image to be seen*/
.home #main {
  background-color: transparent !important;
}

body.responsive.layout-full #page-wrapper .full-container{
  max-width:95%;
}

.encourage{
  font-size:125%;
}

/** Footer**/
.footer-extra-data{
  font-size:1.5em;
}


/** Mobile Responsive**/
@media only screen and (max-width: 780px) {
  /**Full site**/
  #main{
    padding-bottom: 0%;
  }
  /**Footer**/
	.site-footer{
    padding: 30px 30px 0px 30px !important;
  }
  .footer-extra-data{
    font-size:1em;
	}
  /**Input section**/
	.moonwalkform{
    text-align: center;
  }
  input[type="text"]{
    width:80%;
    font-size: 1.2em;
  }
  strong{
    font-size:85%;
  }
  /**Header**/
  #masthead .hgroup{
    padding-bottom: 0%;
    padding-top: 0%;
  }

  .flex-row-planet-links{
    display: flex !important;
    flex-direction: row !important;
  }
  .full-size-logo{
    display: none;
  }
  .home #main {
    padding-top: 0%;
	}
  .widget{
    padding-bottom:0% !important;
  }
  .panel-grid{
    margin:0em 0em 0em 0em !important;
  }
  .panel-grid-cell{
    margin: 0em 0em 0em 0em !important;
  }

  /***To center elements and text*/
  .center-text{
    text-align: center;
  }
  .center-element{
    margin:auto;
  }

}
