body{
	font-family:"futura-pt", sans-serif;
}

input[type="text"]{
  font-family: "futura-pt-condensed",sans-serif;
  width:14em;
  font-size: 1.4em;
}
input[type=submit]{
  margin-top:5px;
	background:#ffd800;
  text-decoration: none;
  border:none;
  color:#0e2846;
}

.all-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.spacer {
    display: block;
}

#progress-bar {
    width: 80%;;
    background: #cccccc;
    position: relative;
}

#progress-bar-percentage {
    background: #f2c94c;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 40px;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}
.wide-grey.panel-row-style{border:none;}

/*Allow background image to be seen*/
.home #main {
    background-color: transparent !important;
}

body.responsive.layout-full #page-wrapper .full-container{
  max-width:95%;
}

.encourage{
  font-size:125%;
}
