input[type="text"]{
  width:15em;
  font-size: 3em;
}
input[type=submit]{
  margin-top:5px;
	background:#ffd800;
  text-decoration: none;
  border:none;
  color:#0e2846;
}


.all-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.spacer {
    display: block;
}

#progress-bar {
    width: 70%;;
    background: #cccccc;
    position: relative;
}

#progress-bar-percentage {
    background: #3063A5;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 20px;
}

#progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}
.home #main {
    background-color: transparent !important;
}
